**Exercise 2.2 (optional):** Write code that classifies a given amount of money (which you store in a variable `amount`), specified in cents, as greater monetary units. Your code lists the monetary equivalent in dollars (100 ct), quarters (25 ct), dimes (10 ct), nickels (5 ct), and pennies (1 ct). Your program should report the maximum number of dollars that fit in the amount, then the maximum number of quarters that fit in the remainder after you subtract the dollars, then the maximum number of dimes that fit in the remainder after you subtract the dollars and quarters, and so on for nickels and pennies. The result is that you express the amount as the minimum number of coins needed.  

**Can you do it again? Would you change anything from the last time you had to do this?**

In [9]:
# Your Code Here
def moneyTalks(amount):
    dollar = int(amount / 100)
    dr = amount % 100
    qtr = int(dr/25)
    qr = dr % 25
    dim = int(qr/10)
    dimr = qr % 10
    nic = int(dimr/5)
    nicr = dimr % 5
    pen = nicr
    print("{} dollars, {} quarters, {} dimes, {} nickles, {} pennies".format(dollar, qtr, dim, nic, pen))
    
moneyTalks(356)

3 dollars, 2 quarters, 0 dimes, 1 nickles, 1 pennies

**Exercise (optional)**: The factorial of a positive integer is that integer, multiplied by all positive integers that are lower (excluding zero). You write the factorial as the number with an exclamation mark after it. E.g., the factorial of 5 is `5! = 5 * 4 * 3 * 2 * 1 = 120`. Write a function that calculates the factorial of its (integer) parameter. Test your function for different parameter values, but do not use very large numbers as factorials grow exponentially. Hint: to do this with a `while` loop, you need at least one more variable.

In [14]:
# Factorial
def factorial(number):                                
    #Your Code Here
    f = number
    for x in range(number-1,0, -1):
        f = f * x 
    return f
print(factorial(8))

40320

**Exercise 5.1 (optional):** Write a function that prints a multiplication table for digits 1 to 10. A multiplication table for the numbers 1 to `num = 3` looks as follows:

`. |  1  2  3`<br>
`------------`<br>
`1 |  1  2  3`<br>
`2 |  2  4  6`<br>
`3 |  3  6  9`

So the labels on the rows are multiplied by the labels on the columns, and the result is shown in the cell that is on that row/column combination.

In [24]:
# Print multiplication table
import pandas as pd
from IPython.display import display 
#i imported pands to get a nice data fram then display to make it look nice 

def dataForTable(n):
    #worked out the data in this function
    d = dict()
    h = []
    for x in range(1,n+1):
        l = []
        h.append(x)
        for y in range(1,n+1):
            l.append(y*x)
        d[x] = l
    
    print_multiplication_table(d,h)
    
def print_multiplication_table(d,h):
    #Displayed the data in this function
    display(pd.DataFrame(d, h, h))

dataForTable(10)

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

**Exercise 5.2 (optional):** If you did the previous exercise with a `while` loop, then do it again with a `for` loop. If you did it with a `for` loop, then do it again with a `while` loop. If you did not use a loop at all, you should be ashamed of yourself.

In [29]:
# Print multiplication table

def dataForTableWhileLoop(n):
    #worked out the data in this function
    d = dict()
    #h is th headers for th table 
    h = []
    i = n
    while i > 0: 
        l=[]
        h.append(i)
        y = n 
        while y > 0:
            l.append(y*i)
            y -=1
        d[i] = l
        i -= 1
    #used the same function frm above to display it
    print_multiplication_table(d,h)


dataForTableWhileLoop(10)

     10  9   8   7   6   5   4   3   2   1
10  100  90  80  70  60  50  40  30  20  10
9    90  81  72  63  54  45  36  27  18   9
8    80  72  64  56  48  40  32  24  16   8
7    70  63  56  49  42  35  28  21  14   7
6    60  54  48  42  36  30  24  18  12   6
5    50  45  40  35  30  25  20  15  10   5
4    40  36  32  28  24  20  16  12   8   4
3    30  27  24  21  18  15  12   9   6   3
2    20  18  16  14  12  10   8   6   4   2
1    10   9   8   7   6   5   4   3   2   1

**Exercise 6.5 (optional):** Typical autocorrect functions are the following: 
1. if a word starts with two capitals, followed by a lower-case letter, the second capital is made lower case; 
2. if a sentence contains a word that is immediately followed by the same word, the second occurrence is removed; 
3. if a sentence starts with a lower-case letter, that letter is turned into a capital; 
4. if a word consists entirely of capitals, except for the first letter which is lower case, then the case of the letters in the word is reversed; and 
5. if the sentence contains the name of a day (in English) which does not start with a capital, the first letter is turned into a capital. 

Write a program that takes a sentence and makes these auto-corrections.

In [31]:
# Autocorrect.
sentence = "as it turned out our chance meeting with REverend aRTHUR BElling was \
was to change our whole way of life, and every sunday we'd hurry along to St lOONY up the Cream BUn and Jam."
#I'll come back to this one
def autoCorrect(s):
    print(s.capitalize())
    
autoCorrect(sentence)

As it turned out our chance meeting with reverend arthur belling was was to change our whole way of life, and every sunday we'd hurry along to st loony up the cream bun and jam.

### Exercise 11.3 (Optional)
In this directory you find a file `blakepoems.txt`. Write a program that processes the contents of this file, line by line. It creates an output file in the current working directory called `blkpms.txt`, which has the same contents as `blakepoems.txt`, except that all the vowels are removed (case-insensitively). At the end, display how many characters you read, and how many characters you wrote. If you want to check the contents of `blkpms.txt`, you can either open it in a text editor, or display the first 10 lines or so at the end of your program.

In [42]:
## Your Code Here
import re 
fp = open("blakepoems.txt","r")

def readThelines(f):
    while True:
        buffer = f.readline()             
        if buffer == "":
            break
        processLine(buffer)

def processLine(l):
    line = re.sub('a|e|i|o|u|A|E|I|O|U', '', l)
    createFile(line)
    
def createFile(li):
    new = open("blkpms.txt", "a+")
    new.writelines(li)
    
def characterCount(x):
    y = open("blkpms.txt", "r")
    xd = x.read()
    yd = y.read()
    charCountOrginal = len(xd)
    charCountNew = len(yd)
    print("Read Characters {}, written characters {}".format(charCountOrginal, charCountNew))

readThelines(fp)
characterCount(fp)

Read Characters 37870, written characters 27722